
main {
  min-height: 90vh;
}

footer {
  height: 5vh;
  box-shadow: 0 0 4px 2px black;
  position: relative;
  bottom: 0;
}
.navbar {
  box-shadow: 0 0 4px 2px black;
}
#create-item-btn {
  background-color: crimson;
  color: #fff;
  border: none;
  box-shadow: inset 0.2em 0.2em 0.2em 0 rgb(200 200 200 / 50%), inset -0.2em -0.2em 0.2em 0 rgb(0 0 0 / 50%), 0 0 4px 0px black;
  border-radius: 50px;
  margin-top: 5px;
  padding: 0 10px 4px;
}
#create-item-btn:active {
  box-shadow: inset 0.2em 0.2em 0.2em 0 rgb(0 0 0 / 50%), inset -0.2em -0.2em 0.2em 0 rgb(200 200 200 / 50%),inset 0 0 4px 0px black;
}

.products-grid {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
}

.products-grid>* {
  grid-column: span 1;
  margin: auto;
  width: 100% !important;
}

.card>img {
  width: 80%;
  height: 20rem;
  margin: auto;
}

.modal-body{
  display: flex;
}

.modal img {
  margin: auto;
  width: 50%;
}

@media only screen and (max-width: 900px) {
  .products-grid {
    width: 90vw;
    grid-template-columns: 1fr 1fr;
    margin: auto;
  }
}
@media only screen and (max-width: 650px) {
  .products-grid {
    width: 100vw;
  }
}
@media only screen and (max-width: 450px) {
  .products-grid {
    width: 80vw;
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 380px) {
  .products-grid {
    width: 100vw;
  }
}